<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach(var item in navItems)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Link" Match="@item.IsMatchAll">
                    <span class="@item.Icon" aria-hidden="true"></span>@item.Title 
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private List<NavItem> navItems;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public NavMenu()
    {
        navItems = new List<NavItem>
        {
          new NavItem {Title = "Home", Link = "", Icon = "oi oi-home", IsMatchAll = NavLinkMatch.All },  
          new NavItem {Title = "Counter", Link = "counter", Icon = "oi oi-plus"},  
          new NavItem {Title = "Fetch data", Link = "fetchdata", Icon = "oi oi-list-rich"},  
          new NavItem {Title = "Shopping List", Link = "shoppinglist", Icon = "oi oi-list"},  
        };
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public class NavItem
    {
        public string Title { get; set; } = string.Empty;
        public string Link { get; set; } = string.Empty;
        public string Icon { get; set; } = string.Empty;
        public NavLinkMatch IsMatchAll { get; set; } = NavLinkMatch.Prefix;
    }
}
